---
/* Base layout used by all pages */
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.js';
import main from '../main.js?url';
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <script type="module" src={main}></script>
  </body>
</html>
